<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.febs.test.mapper.TestResultAnalysisMapper">
    <insert id="saveTestResultAnalysis" parameterType="testResultAnalysis">
        INSERT INTO T_TEST_RESULT_ANALYSIS
(PAPER_ID,
 QUESTION_TYPE,
 QUESTION_ID,
 QUESTION_SCORE,
 QUESTION_CONTENT,
 RESULT_USER_ID,
 RESULT_IS_CORRECT,
 RESULT_ID)
VALUES (#{testResultAnalysis.paperId},
        (SELECT QUESTION_TYPE FROM T_QUESTION WHERE QUESTION_ID = #{testResultAnalysis.questionId}),
        #{testResultAnalysis.questionId},
        (SELECT QUESTION_SCORE FROM T_QUESTION WHERE QUESTION_ID = #{testResultAnalysis.questionId}),
        (SELECT QUESTION_CONTENT FROM T_QUESTION WHERE QUESTION_ID = #{testResultAnalysis.questionId}),
        #{testResultAnalysis.resultUserId},
        #{testResultAnalysis.resultIsCorrect},
        #{testResultAnalysis.resultId})
    </insert>

    <select id="findPaperAnalysisByPaperId" parameterType="Long" resultType="Map">
        SELECT (SELECT NVL(SUM(Q.QUESTION_SCORE), 0)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId})      sumAll,
       (SELECT NVL(SUM(Q.QUESTION_SCORE), 0)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId}
          AND Q.QUESTION_TYPE = '1') sumSingle,
       (SELECT NVL(SUM(Q.QUESTION_SCORE), 0)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId}
          AND Q.QUESTION_TYPE = '2') sumJudgement,
       (SELECT NVL(SUM(Q.QUESTION_SCORE), 0)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId}
          AND Q.QUESTION_TYPE = '3') sumMultiple,
       (SELECT COUNT(*)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId})      countAll,
       (SELECT COUNT(*)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId}
          AND Q.QUESTION_TYPE = '1') countSingle,
       (SELECT COUNT(*)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId}
          AND Q.QUESTION_TYPE = '2') countJudgement,
       (SELECT COUNT(*)
        FROM T_QUESTION Q
                 JOIN T_QUESTION_PAPER QP ON Q.QUESTION_ID = QP.QUESTION_ID
        WHERE QP.PAPER_ID = #{paperId}
          AND Q.QUESTION_TYPE = '3') countMultiple
        FROM DUAL
    </select>

    <select id="findPaperResultAnalysisByPaperId" parameterType="Long" resultType="Map">
        SELECT (SELECT COUNT(*)
        FROM T_TEST_RESULT TR
        WHERE TR.RESULT_PAPER_ID = #{paperId})      countAnswer,
       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1') countCorrectAll,

       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '1')     countCorrectSingle,

       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '2')     countCorrectJudgement,

       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '3')     countCorrectMultiple,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1') sumCorrectAll,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '1')     sumCorrectSingle,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '2')     sumCorrectJudgement,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '3')     sumCorrectMultiple
FROM DUAL
    </select>

    <select id="findMostWrongQuestion" parameterType="Long" resultType="testResultAnalysis">
        SELECT TTRA.QUESTION_CONTENT questionContent
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.PAPER_ID = #{paperId}
        AND TTRA.RESULT_IS_CORRECT = '0'
        AND ROWNUM &lt;= 3
        GROUP BY TTRA.QUESTION_CONTENT
        ORDER BY COUNT(*) DESC
    </select>

    <select id="findAnalysisByResultId" parameterType="String" resultType="Map">
SELECT (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1') countCorrectAllUser,

       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '1')     countCorrectSingleUser,

       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '2')     countCorrectJudgementUser,

       (SELECT COUNT(*)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '3')     countCorrectMultipleUser,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1') sumCorrectAllUser,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '1')     sumCorrectSingleUser,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '2')     sumCorrectJudgementUser,

       (SELECT SUM(TTRA.QUESTION_SCORE)
        FROM T_TEST_RESULT_ANALYSIS TTRA
        WHERE TTRA.RESULT_ID = #{resultId}
          AND TTRA.RESULT_IS_CORRECT = '1'
          AND TTRA.QUESTION_TYPE = '3')     sumCorrectMultipleUser
FROM DUAL;
    </select>

    <select id="findAllWrongQuestionByResultId" parameterType="String" resultType="testResultAnalysis">
SELECT TTRA.QUESTION_CONTENT questionContent
FROM T_TEST_RESULT_ANALYSIS TTRA
WHERE TTRA.RESULT_ID = #{resultId}
  AND TTRA.RESULT_IS_CORRECT = '0'
    </select>
</mapper>