<style>
    #paper-add {
        padding: 20px 25px 25px 0;
    }

    #paper-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="paper-add">
    <form class="layui-form" action="" lay-filter="paper-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">课程：</label>
            <div class="layui-input-block">
                <select name="paperCourseId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="paper-add-course"
                        xm-select-skin="default"
                        xm-select-radio
                        xm-select-search
                        xm-select-search-type="dl">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">试卷名称：</label>
            <div class="layui-input-block">
                <input type="text" name="paperName" maxlength="20"
                       lay-verify="range|required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">测验时间：</label>
            <div class="layui-input-block">
                <input type="text" name="paperTestTime" maxlength="3"
                       lay-verify="number|required|range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="paper-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            form = layui.form,
            $view = $('#paper-add'),
            currentUserId = currentUser.userId;
        validate = layui.validate;

        form.verify(validate);
        form.render();
        formSelects.render();

        initCourseSelect();

        form.on('submit(paper-add-form-submit)', function (data) {
            var currentUserId = currentUser.userId + '';
            data.field.createUserId = currentUserId;
            febs.post(ctx + 'paper/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增试卷成功！');
                $('#febs-paper').find('#query').click();
            });
            return false;
        });

        function initCourseSelect() {
            var courseTeacherId = "";
            if (!testViewAllPerm) {
                courseTeacherId = currentUserId;
            }

            formSelects.data('paper-add-course', 'server', {
                type: 'get',
                url: ctx + 'course/listAll',
                data: {
                    courseState: '1',
                    courseTeacherId: courseTeacherId
                },
                response: {
                    statusCode: 200
                },
                beforeSuccess: function (id, url, searchVal, result) {
                    var data = result.data;
                    var tranData = [];
                    for (var i = 0; i < data.length; i++) {
                        tranData.push({
                            name: data[i].courseName,
                            value: data[i].courseId,
                            courseGrade: data[i].courseGrade
                        })
                    }
                    result.data = tranData;
                    return result;
                },
                error: function (id, url, searchVal, err) {
                    console.error(err);
                    febs.alert.error('获取课程列表失败');
                }
            });
            formSelects.render('paper-add-course', {
                template: function (name, value, selected, disabled) {
                    return value.name + '<span style="position: absolute; right: 0; color: #A0A0A0; font-size: 12px;">大' +
                        (value.courseGrade == 1 ? '一' : (value.courseGrade == 2 ? '二' : (value.courseGrade == 3 ? '三' : '四'))) + '</span>';
                }
            });
        }
    });
</script>