<style>
    #febs-announcement-detail #announcement-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-announcement-detail .announcement-info div {
        margin: 10px 15px;
        max-width: 19rem;
    }

</style>
<div class="layui-fluid" id="febs-announcement-detail" lay-title="试卷信息">
    <div id="announcement-info-wrapper">
        <div class="announcement-info">
            <div><span class="layui-icon layui-icon-rate"></span> 公告标题：
                [[${announcement.announcementTitle}]]
            </div>
            <div><span class="layui-icon layui-icon-username"></span> 创建人：
                [[${announcement.createUserName}]]
            </div>
            <div><span class="layui-icon layui-icon-next"></span> 创建时间：
                [[${createTime}]]
            </div>
            <div><span class="layui-icon layui-icon-align-left"></span> 公告内容：
                [[${announcement.announcementContent}]]
            </div>
        </div>
    </div>
</div>