<style>
    #febs-announcement-detail #announcement-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
    }

    #febs-announcement-detail .announcement-info div {
        margin: 10px 15px;
    }

    #febs-announcement-detail {
        text-align: center;
    }

    #announcement-info-wrapper {
        width: 80%;
    }

    #febs-announcement-detail p {
        text-align: left;
    }
</style>
<div class="layui-fluid" id="febs-announcement-detail" lay-title="公告信息">
    <div id="announcement-info-wrapper">
        <div class="announcement-info">
            <div style="font-size: 18px">
                [[${announcement.announcementTitle}]]
            </div>
            <hr>
            <div>[[${announcement.createUserName}]] | [[${createTime}]]
            </div>
            <hr>
            <div id="announcement-detail-content">

            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
    layui.use(['febs'], function () {
        var $ = layui.$,
            febs = layui.febs,
            $view = $('#febs-announcement-detail'),
            $content = $view.find('#announcement-detail-content'),
            announcement = [[${announcement}]],
            announcementContent = announcement.announcementContent.split('\n');
        for (var i = 0; i < announcementContent.length; i++) {
            $content.append('<p>' + announcementContent[i] + '</p>');
        }
    })
</script>