<style>
    #febs-testPage-info {
        position: fixed;
        z-index: 999999;
        width: 100%;
    }

</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-testPage" lay-title="测验">
    <div class="layui-row febs-container">
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">测验试题</div>
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="test-testPage-form">
                        <div class="layui-form-item febs-hide">
                            <button class="layui-btn" lay-submit="" lay-filter="test-testPage-form-submit"
                                    id="submit"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card" id="febs-testPage-info">
                <div class="layui-card-header">测验信息</div>
                <div class="layui-card-body febs-table-full">
                    <div><span class="layui-icon layui-icon-rate"></span> 课程名称：
                        [[${paper.paperCourseName}]]
                    </div>
                    <div><span class="layui-icon layui-icon-username"></span> 任课老师：
                        [[${paper.paperCourseTeacherName}]]
                    </div>
                    <div><span class="layui-icon layui-icon-survey"></span> 试卷名称：
                        [[${paper.paperName}]]
                    </div>
                    <div><span class="layui-icon layui-icon-refresh"></span> 测验时间：
                        [[${paper.paperTestTime}]]分钟
                    </div>
                    <div><span class="layui-icon layui-icon-align-left"></span> 试题数量：
                        [[${paper.paperQuestionAmount}]]题
                    </div>
                    <div><span class="layui-icon layui-icon-username"></span> 创建人：
                        [[${paper.createUserName}]]
                    </div>
                    <div><span class="layui-icon layui-icon-next"></span> 创建时间：
                        [[${createTime}]]
                    </div>
                    <div><span class="layui-icon layui-icon-next"></span> 考试剩余时间：
                        <p style="display: inline" id="timeLeft"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'form', 'formSelects', 'febs', 'util'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            view = febs.view,
            form = layui.form,
            util = layui.util,
            $view = $('#febs-testPage'),
            $form = $view.find('form'),
            formSelects = layui.formSelects,
            currentUserId = currentUser.userId,
            paper = [[${paper}]],
            $questionBody = $view.find('.layui-col-md9').find('.layui-card-body'),
            questionList = paper.paperQuestionList,
            $testInfo = $view.find('#febs-testPage-info');
        var infoOffSet = $testInfo.offset().top;
        $('#febs-body').on('scroll', function () {
            $testInfo.offset({top: infoOffSet});
        });

        util.fixbar({
            bar1: '&#x1005;',
            click: function (type) {
                if (type === 'top') {
                    $('#febs-body').scrollTop(0, 0);
                }
                if (type === 'bar1') {
                    febs.modal.confirm('交卷', '确定要交卷？', function () {
                        $view.find('#submit').trigger('click');
                    });
                }
            },
            showHeight: 0
        });
        for (var i = 0; i < questionList.length; i++) {
            var questionStr = '';
            switch (questionList[i].questionType) {
                case '1':
                    questionStr += '<div class="layui-form-item question-body-singleChoice">';
                    questionStr += '<p>(单选)' + (i + 1) + '.' + questionList[i].questionContent + '(' + questionList[i].questionScore + '分)</p>';
                    for (var j = 0; j < questionList[i].optionList.length; j++) {
                        questionStr += '<div class="option-body">';
                        questionStr += '<input type="radio" name="' + questionList[i].questionId + '" value="' + questionList[i].optionList[j].optionId + '" title="' + questionList[i].optionList[j].optionContent + '">';
                        questionStr += '</div>';
                    }
                    questionStr += '</div>';
                    break;
                case '2':
                    questionStr += '<div class="layui-form-item question-body-judgement">';
                    questionStr += '<p>(判断)' + (i + 1) + '.' + questionList[i].questionContent + '(' + questionList[i].questionScore + '分)</p>';
                    for (var j = 0; j < questionList[i].optionList.length; j++) {
                        questionStr += '<div class="option-body">';
                        questionStr += '<input type="radio" name="' + questionList[i].questionId + '" value="' + questionList[i].optionList[j].optionId + '" title="' + questionList[i].optionList[j].optionContent + '">';
                        questionStr += '</div>';
                    }
                    questionStr += '</div>';
                    break;
                case '3':
                    questionStr += '<div class="layui-form-item question-body-multipleChoice">';
                    questionStr += '<p>(多选)' + (i + 1) + '.' + questionList[i].questionContent + '(' + questionList[i].questionScore + '分)</p>';
                    for (var j = 0; j < questionList[i].optionList.length; j++) {
                        questionStr += '<div class="option-body">';
                        questionStr += '<input type="checkbox" name="' + questionList[i].questionId + '[' + questionList[i].optionList[j].optionId + ']" value="' + questionList[i].optionList[j].optionId + '" title="' + questionList[i].optionList[j].optionContent + '" lay-skin="primary">';
                        questionStr += '</div>';
                    }
                    questionStr += '</div>';
                    break;
                default:
                    break;
            }
            $form.append(questionStr);
        }
        $form.append('<div class="layui-form-item" style="text-align: center">\n' +
            '                        <div class="layui-btn-group">\n' +
            '                            <button type="button" class="layui-btn" id="test-testPage-submit">\n' +
            '                                <i class="layui-icon">&#x1005;</i> 提交试卷\n' +
            '                            </button>\n' +
            '                            <button type="button" class="layui-btn" id="test-testPage-top">\n' +
            '                                <i class="layui-icon">&#xe604;</i> 回到顶部\n' +
            '                            </button>\n' +
            '                        </div>\n' +
            '                    </div>');

        form.render();

        $view.find('#test-testPage-submit').on('click', function () {
            febs.modal.confirm('交卷', '确定要交卷？', function () {
                $view.find('#submit').trigger('click');
            });
        });
        $view.find('#test-testPage-top').on('click', function () {
            $('#febs-body').scrollTop(0, 0);
        });

        var timeNow = new Date().getTime();
        var timeEnd = timeNow + (paper.paperTestTime * 60 * 1000);
        util.countdown(timeEnd, timeNow, function (date, serverTime, timer) {
            $view.find('#timeLeft').html(date[1] + '小时' + date[2] + '分' + date[3] + '秒');
            if (date[1] === 0 && date[2] === 0 && date[3] === 0) {
                $view.find('#submit').trigger('click');
            }
        });

        $view.on('copy', function () {
            onCopy();
        });


        $(window).on('blur resize', function () {
            onBlur();
        });

        form.on('submit(test-testPage-form-submit)', function (data) {
            $('.layui-fixbar').remove();
            data.field.resultUserId = currentUserId;
            data.field.resultPaperId = paper.paperId;
            $.ajax({
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                url: ctx + 'test/submitPaper',
                data: JSON.stringify(data.field),
                dataType: 'json',
                success: function (result) {
                    if (result.code === 200) {
                        febs.navigate('/index');
                        febs.view.tab.delAll();
                        febs.alert.success('提交试卷成功，请到测验记录查询成绩');
                    }
                }
            });
            return false;
        });
        var copyTimes = 0;

        function onCopy() {
            copyTimes++;
            if (copyTimes > 1) {
                $view.find('#submit').trigger('click');
            } else {
                febs.alert.warn('别复制了，再让我发现就帮你交卷啦！');
            }
        }

        var blurTimes = 0;

        function onBlur() {
            blurTimes++;
            if (blurTimes > 1) {
                $view.find('#submit').trigger('click');
            } else {
                febs.alert.warn('别乱动窗口，再让我发现就帮你交卷啦！');
            }
        }

    });

</script>