<style>
    #febs-testResult-analysis #testResult-info-wrapper {
        margin: 0 0 1rem 0;
        display: inline-block;
        width: 100%;
    }

    #febs-testResult-analysis .testResult-info div {
        margin: 10px 15px;
    }

</style>
<div class="layui-fluid" id="febs-testResult-analysis" lay-title="试卷分析">
    <div id="testResult-info-wrapper">
        <div class="testResult-info">
            <div id="chart-testResult-analysis-amount" style="width: 80%"></div>
            <div id="chart-testResult-analysis-accuracyRate" style="width: 80%"></div>
            <div id="chart-testResult-analysis-score" style="width: 80%"></div>
            <div><span class="layui-icon layui-icon-refresh"></span> 错题集：
            </div>
            <div id="febs-testResult-analysis-wrong">

            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
    layui.use(['apexcharts', 'febs'], function () {
        var $ = layui.$,
            febs = layui.febs,
            $view = $('#febs-testResult-analysis'),
            testResult = [[${testResult}]],
            resultAnalysis = testResult.resultAnalysis,
            testResultAnalysisList = testResult.testResultAnalysisList;
        var amountAllData = [resultAnalysis.COUNTALL, resultAnalysis.COUNTSINGLE, resultAnalysis.COUNTJUDGEMENT, resultAnalysis.COUNTMULTIPLE];
        var amountAvgData = [];
        if (resultAnalysis.COUNTCORRECTALL !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            amountAvgData.push((resultAnalysis.COUNTCORRECTALL / resultAnalysis.COUNTANSWER).toFixed(2));
        } else {
            amountAvgData.push(0.00);
        }
        if (resultAnalysis.COUNTCORRECTSINGLE !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            amountAvgData.push((resultAnalysis.COUNTCORRECTSINGLE / resultAnalysis.COUNTANSWER).toFixed(2));
        } else {
            amountAvgData.push(0.00);
        }
        if (resultAnalysis.COUNTCORRECTJUDGEMENT !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            amountAvgData.push((resultAnalysis.COUNTCORRECTJUDGEMENT / resultAnalysis.COUNTANSWER).toFixed(2));
        } else {
            amountAvgData.push(0.00);
        }
        if (resultAnalysis.COUNTCORRECTMULTIPLE !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            amountAvgData.push((resultAnalysis.COUNTCORRECTMULTIPLE / resultAnalysis.COUNTANSWER).toFixed(2));
        } else {
            amountAvgData.push(0.00);
        }
        var amountUserData = [];
        amountUserData.push(resultAnalysis.COUNTCORRECTALLUSER);
        amountUserData.push(resultAnalysis.COUNTCORRECTSINGLEUSER);
        amountUserData.push(resultAnalysis.COUNTCORRECTJUDGEMENTUSER);
        amountUserData.push(resultAnalysis.COUNTCORRECTMULTIPLEUSER);


        var accuracyRate = [];
        if (amountAvgData[0] !== 0 && amountAllData[0] !== 0) {
            accuracyRate.push((amountAvgData[0] / amountAllData[0] * 100).toFixed(2))
        } else {
            accuracyRate.push(0.00);
        }
        if (amountAvgData[1] !== 0 && amountAllData[1] !== 0) {
            accuracyRate.push((amountAvgData[1] / amountAllData[1] * 100).toFixed(2))
        } else {
            accuracyRate.push(0.00);
        }
        if (amountAvgData[2] !== 0 && amountAllData[2] !== 0) {
            accuracyRate.push((amountAvgData[2] / amountAllData[2] * 100).toFixed(2))
        } else {
            accuracyRate.push(0.00);
        }
        if (amountAvgData[3] !== 0 && amountAllData[3] !== 0) {
            accuracyRate.push((amountAvgData[3] / amountAllData[3] * 100).toFixed(2))
        } else {
            accuracyRate.push(0.00);
        }

        var accuracyRateUser = [];
        if (amountUserData[0] !== 0 && amountAllData[0] !== 0) {
            accuracyRateUser.push((amountUserData[0] / amountAllData[0] * 100).toFixed(2))
        } else {
            accuracyRateUser.push(0.00);
        }
        if (amountUserData[1] !== 0 && amountAllData[1] !== 0) {
            accuracyRateUser.push((amountUserData[1] / amountAllData[1] * 100).toFixed(2))
        } else {
            accuracyRateUser.push(0.00);
        }
        if (amountUserData[2] !== 0 && amountAllData[2] !== 0) {
            accuracyRateUser.push((amountUserData[2] / amountAllData[2] * 100).toFixed(2))
        } else {
            accuracyRateUser.push(0.00);
        }
        if (amountUserData[3] !== 0 && amountAllData[3] !== 0) {
            accuracyRateUser.push((amountUserData[3] / amountAllData[3] * 100).toFixed(2))
        } else {
            accuracyRateUser.push(0.00);
        }


        var scoreAllData = [
            100.00,
            (resultAnalysis.SUMSINGLE / resultAnalysis.SUMALL * 100).toFixed(2),
            (resultAnalysis.SUMJUDGEMENT / resultAnalysis.SUMALL * 100).toFixed(2),
            (resultAnalysis.SUMMULTIPLE / resultAnalysis.SUMALL * 100).toFixed(2)
        ];
        var scoreAvgData = [];
        if (resultAnalysis.SUMALL !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            scoreAvgData.push((resultAnalysis.SUMCORRECTALL / resultAnalysis.SUMALL * 100 / resultAnalysis.COUNTANSWER).toFixed(2))
        } else {
            scoreAvgData.push(0.00);
        }
        if (resultAnalysis.SUMSINGLE !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            scoreAvgData.push((resultAnalysis.SUMCORRECTSINGLE / resultAnalysis.SUMALL * 100 / resultAnalysis.COUNTANSWER).toFixed(2))
        } else {
            scoreAvgData.push(0.00);
        }
        if (resultAnalysis.SUMJUDGEMENT !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            scoreAvgData.push((resultAnalysis.SUMCORRECTJUDGEMENT / resultAnalysis.SUMALL * 100 / resultAnalysis.COUNTANSWER).toFixed(2))
        } else {
            scoreAvgData.push(0.00);
        }
        if (resultAnalysis.SUMMULTIPLE !== 0 && resultAnalysis.COUNTANSWER !== 0) {
            scoreAvgData.push((resultAnalysis.SUMCORRECTMULTIPLE / resultAnalysis.SUMALL * 100 / resultAnalysis.COUNTANSWER).toFixed(2))
        } else {
            scoreAvgData.push(0.00);
        }
        var scoreDataUser = [];
        if (resultAnalysis.SUMALL !== 0) {
            scoreDataUser.push((resultAnalysis.SUMCORRECTALLUSER / resultAnalysis.SUMALL * 100).toFixed(2));
            scoreDataUser.push((resultAnalysis.SUMCORRECTSINGLEUSER / resultAnalysis.SUMALL * 100).toFixed(2));
            scoreDataUser.push((resultAnalysis.SUMCORRECTJUDGEMENTUSER / resultAnalysis.SUMALL * 100).toFixed(2));
            scoreDataUser.push((resultAnalysis.SUMCORRECTMULTIPLEUSER / resultAnalysis.SUMALL * 100).toFixed(2));
        } else {
            scoreDataUser.push(0.00);
            scoreDataUser.push(0.00);
            scoreDataUser.push(0.00);
            scoreDataUser.push(0.00);
        }


        var xaxis = ['总计', '单选', '判断', '多选'];
        var amountOption = {
            chart: {
                height: 320,
                type: 'bar',
                stacked: false,
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                name: '总计',
                type: 'column',
                data: amountAllData
            }, {
                name: '平均',
                type: 'column',
                data: amountAvgData
            }, {
                name: '此测验结果',
                type: 'column',
                data: amountUserData
            }],
            stroke: {
                width: [1, 1, 4]
            },
            title: {
                text: '正确题数统计',
                align: 'left',
                offsetX: 110
            },
            xaxis: {
                categories: xaxis,
            },
            yaxis: [
                {
                    axisTicks: {
                        show: true
                    },
                    axisBorder: {
                        show: true,
                    },
                    labels: {
                        style: {}
                    },
                    title: {
                        text: "试题数量",
                        style: {}
                    },
                    tooltip: {
                        enabled: true
                    }
                }
            ],
            tooltip: {
                fixed: {
                    enabled: false,
                    position: 'topLeft',
                    offsetY: 30,
                    offsetX: 60
                }
            },
            legend: {
                horizontalAlign: 'left',
                offsetX: 40
            },
            grid: {
                row: {
                    colors: ['transparent', 'transparent'],
                    opacity: 0.2
                },
                borderColor: '#f1f3fa'
            }
        };

        var accuracyRateOption = {
            chart: {
                height: 320,
                type: 'line',
                stacked: false,
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                name: '平均',
                type: 'line',
                data: accuracyRate
            }, {
                name: '此测验结果',
                type: 'line',
                data: accuracyRateUser
            }],
            stroke: {
                width: [1, 1, 4]
            },
            title: {
                text: '正确率统计',
                align: 'left',
                offsetX: 110
            },
            xaxis: {
                categories: xaxis,
            },
            yaxis: [
                {
                    axisTicks: {
                        show: true
                    },
                    axisBorder: {
                        show: true,
                    },
                    labels: {
                        style: {}
                    },
                    title: {
                        text: "正确率",
                        style: {}
                    },
                    tooltip: {
                        enabled: true
                    }
                }
            ],
            tooltip: {
                fixed: {
                    enabled: false,
                    position: 'topLeft',
                    offsetY: 30,
                    offsetX: 60
                }
            },
            legend: {
                horizontalAlign: 'left',
                offsetX: 40
            },
            grid: {
                row: {
                    colors: ['transparent', 'transparent'],
                    opacity: 0.2
                },
                borderColor: '#f1f3fa'
            }
        };

        var scoreOption = {
            chart: {
                height: 320,
                type: 'bar',
                stacked: false,
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                name: '总分',
                type: 'column',
                data: scoreAllData
            }, {
                name: '平均分',
                type: 'column',
                data: scoreAvgData
            }, {
                name: '此测验结果',
                type: 'column',
                data: scoreDataUser
            }],
            stroke: {
                width: [1, 1, 4]
            },
            title: {
                text: '分数统计',
                align: 'left',
                offsetX: 110
            },
            xaxis: {
                categories: xaxis,
            },
            yaxis: [
                {
                    axisTicks: {
                        show: true
                    },
                    axisBorder: {
                        show: true,
                    },
                    labels: {
                        style: {}
                    },
                    title: {
                        text: "分数",
                        style: {}
                    },
                    tooltip: {
                        enabled: true
                    }
                }
            ],
            tooltip: {
                fixed: {
                    enabled: false,
                    position: 'topLeft',
                    offsetY: 30,
                    offsetX: 60
                }
            },
            legend: {
                horizontalAlign: 'left',
                offsetX: 40
            },
            grid: {
                row: {
                    colors: ['transparent', 'transparent'],
                    opacity: 0.2
                },
                borderColor: '#f1f3fa'
            }
        };
        new ApexCharts(
            document.querySelector("#chart-testResult-analysis-amount"),
            amountOption
        ).render();

        new ApexCharts(
            document.querySelector("#chart-testResult-analysis-accuracyRate"),
            accuracyRateOption
        ).render();

        new ApexCharts(
            document.querySelector("#chart-testResult-analysis-score"),
            scoreOption
        ).render();

        for (var i = 0; i < testResultAnalysisList.length; i++) {
            $view.find('#febs-testResult-analysis-wrong').append('<p>' + testResultAnalysisList[i].questionContent + '</p>');
        }
    })
</script>